
.hero {
  width: 100%;
  height: 100vh; 
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}


.hero2 {
  background-image: url("../assets/Hero2.png"); 
  background-size: cover;
  background-position: center;
}

.hero-content {
  text-align: center;
  color: white;
  padding: 20px;
}

.hero h1 {
  font-size: 48px;
  line-height: 1.2;
  margin-bottom: 20px;
  font-weight: bold;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6); 
}
