.footer {
  background: #106111;
  color: #ffffff;
  text-align: center;
  padding: 1rem;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
}

.footer a {
  color: white;
  text-decoration: none;
  margin: 0 20px;
}

.footer a:hover {
  color: #8ed081;
}
