.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 50px;
    padding: 20px 10%;
    background: rgb(255, 255, 255);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    box-shadow: #000000;
      box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);

}

.logo-img {
  width: 40px;
  height: 40px;
  margin-left: -92%;
}

.logo{
    font-style: bold;
    color: #106111;
    font-weight: 700;
    margin-left: -5%;
}

.navbar a{
    font-family: jost;
    position: relative;
    font-size: 20px;
    color: rgb(0, 0, 0);
    font-weight: 500;
    margin-left: 40px;

}

.navbar a.profile-nav{
    margin-left: 15px;
    padding: 3px 8px;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    border-radius: 4px;
    text-decoration: none;
    color: #000;
    transition: background-color 0.3s;
}

.navbar a.profile-nav:hover{
    background-color: #e0e0e0;
}

.navbar a.sign-out-btn{
    background-color: #106111;
    color: #fff;
}

.navbar a.sign-out-btn:hover{
    background-color: #0d4f0e;
}

