.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 10px 20px;
    background: rgb(255, 255, 255);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
}

.logo {
    display: flex;
    align-items: center;
    font-style: bold;
    color: #106111;
    font-weight: 700;
    font-size: 1.5rem;
}

.logo-img {
    width: 40px;
    height: 40px;
    margin-right: 10px;
}

.navbar {
    display: flex;
    gap: 20px;
    align-items: center;
}

.navbar a {
    font-family: jost;
    font-size: 16px;
    color: rgb(0, 0, 0);
    font-weight: 500;
    text-decoration: none;
}

.navbar a:last-child {
    background: #106111;
    color: #FFFFFF;
    padding: 8px 16px;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

.navbar a:last-child:hover {
    background: #0d4f0e;
}
