.login-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f5f9f6;
  font-family: 'Poppins', sans-serif;
}

.login-box {
  background: rgb(25, 105, 0);
  padding: 40px 50px;
  border-radius: 16px;
  box-shadow: 0 6px 15px rgb(0 0 0 / 0.1);
  width: 100%;
  max-width: 360px;
  text-align: center;
  color: white;
}

.login-box h2 {
  margin-bottom: 24px;
  font-weight: 600;
  color: white; 
}

.login-box form {
  display: flex;
  flex-direction: column;
  gap: 18px;
}

.login-box label {
  font-size: 14px;
  font-weight: 500;
  color: white;
  text-align: left;
}

.login-box input {
  padding: 12px 16px;
  font-size: 16px;
  border: 1.5px solid #e0e0e0;
  border-radius: 8px;
  transition: border-color 0.3s ease;
  color: black; 
  background-color: white;
}

.login-box input:focus {
  outline: none;
  border-color: #00a86b;
}

.login-btn {
  margin-top: 10px;
  padding: 14px;
  font-size: 16px;
  background-color: #eeeeee;
  color: rgb(0, 0, 0);
  border: none;
  border-radius: 12px;
  cursor: pointer;
  font-weight: 600;
  transition: background-color 0.3s ease;
}

.login-btn:hover {
  background-color: #008f5a;
}

.signup-text {
  margin-top: 20px;
  font-size: 14px;
  color: white; 
}

.signup-link {
  color: #00a86b;
  font-weight: 600;
  text-decoration: none;
}

.signup-link:hover {
  text-decoration: underline;
}
