.hero{
    background: url("../../assets/Hero.png") center/cover no-repeat;
}

.hero {
  min-height: 650px;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: white;
  margin: 0 auto;
}

.hero-content {
  max-width: 600px;
  padding: 1rem;
}

.join-btn {
  display: inline-block;
  margin-top: 1rem;
  padding: 0.7rem 1.5rem;
  background: green;
  color: white;
  text-decoration: none;
  border-radius: 6px;
}

.hero h1{
font: size 90px;
font-weight: 700;
font-style: semi bold;
}

.hero p{
font-weight: 100px;
}