.hero {
    background: url("../../assets/Hero.png") center/cover no-repeat;
    min-height: 0vh;
    padding-top: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
    width: 100%;
    padding: 0 1rem;
}

.hero-content {
  max-width: 600px;
  padding: 1rem;
}

.join-btn {
  display: inline-block;
  margin-top: 1rem;
  padding: 0.7rem 1.5rem;
  background: green;
  color: white;
  text-decoration: none;
  border-radius: 6px;
}

.hero h1 {
  font-size: clamp(2rem, 5vw, 3rem);
  font-weight: 700;
  line-height: 1.2;
  margin-bottom: 1rem;
}

.hero p {
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.5;
}
